<style>
.parallax {
  background-image: url("img_parallax.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


*{
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}
.container {
  position: relative ;
  width: 75%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #dca1ff;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.bgimg-1{
  background-image: url("Temp1.jpg");
  min-height: 400px;
}
.bgimg-2{
  background-image: url("Temp2.jpg");
  min-height: 400px;
}
.bgimg-3{
  background-image: url("Temp3.jpg");
  min-height: 400px;
}
.ImageText {
  background-image: url(TitleBackgroundImage3.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

.box {
  width: auto;
  padding: 15px;
  border: 10px;
  margin: 20px;
  background-color: #dca1ff;
}

.caption {
  position: absolute;
  left:0;
  top:2300px;
  width:100%;
  text-align: center;
  color: #dca1ff;
}

.caption span.border {
  background-color: #dca1ff;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

span.small {
  font-size: 6px;
}
